{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<main>
	<article>
		<header>
			<h1>{{ .Title }}</h1>
			{{ if .Params.isBlogpost }}  
			<div><i class="fa fa-calendar"></i> <time>{{ .Date.Format "2 January 2006"}}</time>, Author: Cezary Piątek</div>
			<hr />
			{{end}}
		</header>
		{{if isset .Params "image"}}
			<img src="{{.Params.Image}}" width="100%" />
			<br />
		{{end}}
		{{ .Content | safeHTML }}    
		{{ if .Params.isBlogpost }}
		<hr/>
		<p>Products recommended for highly effective .NET Developers:</p>  
			<div id="InArticleBanners">
				<a class="hvr-bounce-in" href="https://mappinggenerator.net/?utm_source=blog.cezarypiatek&utm_medium=banner&utm_campaign=friends_blogs" data-gtag="MappingInArticleBanner" title="Visual Studio plugin for generating mapping code in design time">
					<img src="/images/MappingGeneratorSquareBaner256.png" />
					</a>
					<a class="hvr-bounce-in" href="https://essentials.dotnetos.org/?utm_source=cezarypiatek&utm_medium=blog&utm_campaign=banner" data-gtag="DotnetEssentials" title="Your free course of .NET environment">
					<img src="https://dotnetos.org/assets/images/products/essentials.png" />
					</a>
			</div>
		<hr/>
		{{end}}
	</article>
	
</main>

{{ if .Params.isBlogpost }}  
	{{ if .Site.DisqusShortname }}
	  {{ template "_internal/disqus.html" . }}
	{{ end }}
{{end}}

{{ $related := .Site.RegularPages.Related . | first 3 }}
	{{ with $related }}
	<h3>See Also</h3>
	<div class="row">
		{{ range . }}
			{{if isset .Params "image" }}
				{{ $original := .Resources.GetMatch (.Params.Image) }}
				{{ .Scratch.Set "image" ($original.Fill "320x240") }}
				{{ $image := .Scratch.Get "image" }}
				<div class="col-md-4 col-sm-12">
						<a href="{{ .RelPermalink }}" >
						<div class="card">
								<img class="card-img-top" src="{{$image.RelPermalink}}" alt="{{ .Title }}">
								<div class="card-body">
									<h5 class="card-title">{{ .Title }}</h5>											  
								</div>
							</div></a>
				</div>		
			{{end}}
		{{ end }}
	</div>
	<br />
	{{ end }}

{{ partial "footer.html" . }}
