{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<main>
	<header>
		<h1>{{ .Title }}</h1>
		{{ if .Params.isBlogpost }}  
		<div><i class="fa fa-calendar"></i> {{ .Date.Format "2 January 2006"}}</div>
		<hr />
		{{end}}
	</header>

	<article>
		{{ .Content }}
		{{ if .Params.isBlogpost }}  
		<p>If you find this blog post useful and you think it's worth to share this idea with others, please don't hesitate to use these buttons bellow.</p>	
		<div class="addthis_inline_share_toolbox"></div>
		{{end}}
	</article>
</main>

<div id="bottom-nav" class="text-center center-block">
	<a href=" {{ .Site.BaseURL }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
</div>
{{ if .Params.isBlogpost }}  
	{{ if .Site.DisqusShortname }}
	  {{ template "_internal/disqus.html" . }}
	{{ end }}
{{end}}
{{ partial "footer.html" . }}
